<!DOCTYPE html>
<html>
<head>
    <title>Game of Thrones Universe</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-gray-900 text-gray-100 min-h-screen">

    <div class="container mx-auto px-6 py-6">

        <h1 class="text-4xl font-bold mb-6 text-red-500">
            Game of Thrones Universe
        </h1>

        <nav class="mb-6 space-x-4">
            <a href="/" class="hover:text-red-400">Home</a>
            <a href="/houses/" class="hover:text-red-400">Houses</a>
            <a href="/characters/" class="hover:text-red-400">Characters</a>
            <a href="/locations/" class="hover:text-red-400">Locations</a>
            <a href="/events/" class="hover:text-red-400">Timeline</a>
            <a href="/locations/map/" class="hover:text-red-400">Map</a>
            <a href="/characters/graph/" class="hover:text-red-400">Graph</a>
            <a href="/characters/ranking/" class="hover:text-red-400">Ranking</a>
            <a href="/houses/ranking/" class="hover:text-red-400">House Ranking</a>
              <a href="/analytics/" class="hover:text-red-400">Analytics</a>
              <a href="/characters/compare/" class="hover:text-red-400">Compare</a>
              <a href="/houses/network/" class="hover:text-red-400">House Network</a>


            <form action="/search/" method="get" class="inline-block ml-6">
    <input 
        type="text" 
        name="q" 
        placeholder="Search..." 
        class="bg-gray-800 px-3 py-1 rounded text-white"
    >
</form>
        







        </nav>

        <hr class="border-gray-700 mb-6">

        {% block content %}
        {% endblock %}

    </div>

</body>
</html>
