{% extends 'base.html' %}

{% block content %}

<h2>{{ character.name }}</h2>

<p><strong>House:</strong> {{ character.house }}</p>
<p><strong>Title:</strong> {{ character.title }}</p>
<p><strong>Gender:</strong> {{ character.get_gender_display }}</p>
<p><strong>Alive:</strong> {{ character.is_alive }}</p>
<p class="mt-2 text-red-400 font-semibold">
    Influence Score: {{ character.influence_score }}
</p>


<hr>

<h3>Parents</h3>
<ul>
    {% if character.father %}
        <li>Father: {{ character.father.name }}</li>
    {% endif %}
    {% if character.mother %}
        <li>Mother: {{ character.mother.name }}</li>
    {% endif %}
</ul>

<h3>Children</h3>
<ul>
    {% for child in children %}
        <li>{{ child.name }}</li>
    {% empty %}
        <li>No children found.</li>
    {% endfor %}
</ul>

{% endblock %}
